:root.theme-dark {
  --bg-image: url(../images/cover-image-dark.png);
  --nav-color-focus: 255,0,112;
  --third-color: #000028;
  --bg-color: #000028;
  --accent-color: #FF0070;
  --subtitle-color: #000028;
  --title-header-color: #000028;
  --title-color: #FF0070;
  --secondary-color: #DB00FF;
  --color-text: #F1B2CE;
  --nav-color: #FF0070;
  --focus: #F1B2CE;
  --decoration: block;

}

@media (prefers-color-scheme: dark) {
  :root {
  --bg-image: url(../images/cover-image-dark.png);
    --nav-color-focus: 255,0,112;
  --third-color: #000028;
  --bg-color: #000028;
  --accent-color: #FF0070;
  --subtitle-color: #000028;
  --title-header-color: #000028;
  --title-color: #FF0070;
  --secondary-color: #DB00FF;
  --color-text: #F1B2CE;
  --nav-color: #FF0070;
  --focus: #F1B2CE;
  --decoration: block;
  }
}
