*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: 100%;
}

body {
  min-inline-size: 375px;
  max-inline-size: 1440px;
  margin: 0 auto;
}

.content {
  display: flex;
  flex-direction: column;
  gap: 50px;
  padding: 40px 10px;
}

@media (width >= 768px) {
  .content {
    padding: 60px 20px;
    gap: 80px;
  }
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

picture {
  margin: 0;
  padding: 0;
}

button,
a {
  color: currentColor;
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

img {
  object-fit: cover;
  object-position: center;
  block-size: 100%;
  inline-size: 100%;
}
