.page {
 background-image: var(--bg-image);
 background-attachment: fixed;
 background-color: var(--bg-color);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 font-family: 'IBM Plex Mono', sans-serif;
 color: var(--color-text);
}

.header, .footer {
  height: 100vh;
  min-block-size: 668px;
  padding: 10px;
  position: relative;
}

.header {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: repeat(3, 1fr);
  gap: 55px;
}

.decorated-zone::before {
  content: ' ';
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 24px;
  height: 24px;
  border-inline-start: 1px solid var(--nav-color);
  border-inline-end: 0;
  border-block-start: 0;
  border-block-end: 1px solid var(--nav-color);
}

.decorated-zone::after {
  content: ' ';
  position: absolute;
  top: 10px;
  right: 11px;
  width: 24px;
  height: 24px;
  border-inline-start: 0;
  border-inline-end: 1px solid var(--nav-color);
  border-block-start: 1px solid var(--nav-color);
  border-block-end: 0;
}

.rec {
  display: var(--decoration);
  position: absolute;
  top: 10px;
  right: 38px;
  font-weight: 400;
  font-size: 18px;
  line-height: 25px;
  letter-spacing: 0;
  color: var(--accent-color);
}

.rec::after {
  content: '';
  position: absolute;
  top: 8px;
  left: 42px;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  box-shadow: 0 0 4px 2px var(--accent-color);
  background-color: var(--accent-color);
}

.header__theme-menu {
  justify-self: end;
  margin-top: 54px;
}

.header__theme-menu-button {
  border: none;
  padding: 3px 12px;
  color: var(--title-color);
  font-weight: 400;
  font-size: 1.125rem;
  text-transform: lowercase;
  line-height: 1.125rem;
  letter-spacing: 0;
  background-color: transparent;
  margin-top: 10px;
  
}

.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid rgb(var(--nav-color-focus));
  outline: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(var(--nav-color-focus), 0.4);
}

.header__theme-menu-button_active {
  outline: 1px solid rgb(var(--nav-color-focus));
}

.header__theme-menu-button_active:hover {
  outline: 1px solid rgb(var(--nav-color-focus));
}

.heading, footer {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  font-weight: 700;
  color: var(  --color-h1);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.cover__description-text {
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  line-height: 23.4px;
  font-weight: 700;
  color: var(--title-header-color);
  height: max-content;
}

.card-styles {
  display: grid;
  grid-template-columns: 1fr;
}

.card-section {
  gap: 21px;
}

.card-section_container {
  gap: 20px;
}

.cards__list-container {
  gap: 19px;
}

.card-section_list {
  gap: 19px;
}

.section__card-list {
  gap: 20px;
}

.cards-decoration {
  display: flex;
  flex-direction: column;
}

.cards-list__item {
  gap: 10px;
}

.cards__list-content {
  gap: 10px;
}

a {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

a:hover {
  border: 1px solid var(--nav-color);
}

a:focus {
  border-bottom: 1px solid var(--focus);
  outline: none;
}

.section-title {
  color: var(--title-color);
}

.title__decor {
  background-color: var(--accent-color);
}

.cards__list {
  gap: 20px;
}

.cards-list__subtitle {
  color: var(--subtitle-color);
}

.heading__style {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 23.4px;
}

.text__style {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 23.4px;
}

.cards-list__tagline {
  color: var(--subtitle-color);
}

.gallery {
  display: grid;
  gap: 10px;
}

.gallery__grid {
  display: grid;
  gap: 10px;
}

.footer {
  display: flex;
  justify-content: center;
  align-items: center;
}

.footer_heading {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  font-weight: 700;
  color: var(--color-h1);
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (width >= 768px) {
.heading {
  position: relative;
  left: -20px ;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  align-self: center;
}

.header, .footer {
  padding: 20px;
  gap: 72px;
}

.header__theme-menu {
  margin-top: 0;
  align-self: end;
  margin-bottom: 12px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.header__theme-menu-button {
  margin: 0;
}

.decorated-zone::before {
  bottom: 20px;
  left: 20px;
}

.rec {
  top: 20px;
  right: 48px;
}

.decorated-zone::after {
  top: 20px;
  right: 20px;
}

.cover__description-text {
  display: flex;
  justify-self: end;
  max-width: 364px;
}

.card-section {
  grid-template-columns: 236px 1fr;
}

.cards-list {
  gap: 19px;
}

.section-title {
  max-width: 236px;
} 

.cards__list-container {
  gap: 20px;
}

.cards__list-content {
  gap: 10px;
}

.card-section_list {
  grid-template-columns: 236px 1fr;
}

.gallery {
  gap: 20px;
}

.gallery__grid {
  gap: 20px;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-flow: dense;
}

.gallery__image:nth-child(1) {
  grid-column-start: span 2;
}

.gallery__image:nth-child(2) {
  grid-row-start: span 2;
}

.gallery__image:nth-child(3) {
  grid-row-start: span 2;
}

.gallery__image:nth-child(4) {
  grid-row-start: span 1;
}

.gallery__image:nth-child(5) {
  grid-column-start: span 2;
}
}

@media (width >= 1024px) {
.header {
  gap: 86px;
}

.header__theme-menu {
  margin: 0;
  align-self: flex-start;
  justify-self: center;
}

.header__theme-menu-list {
  flex-direction: row;
}

.header__theme-menu-button {
  margin-top: 0;
}

.cover__description-text {
  max-width: 491px;
}
  
.card-section {
  grid-template-columns: 315px 1fr;
}

.section-title {
  max-width: 315px;
}

.cards__list-container {
  grid-template-columns: repeat(3, 1fr);
}

.card-section_list {
  grid-template-columns: 315px 1fr;
}

.footer_heading {
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem)
}

}
