/* Основные стили проекта. Это стили для темы, которую вы верстаете первой. */

.page { /* сохраните в разметке и стилях класс page у тега body. Он удобен, чтобы составлять селекторы для разных цветовых тем. */
 block-size: 100%;
 background-image: var(--bg-image);
 background-attachment: fixed;
 background-color: var(--bg-color);
 background-repeat: no-repeat;
 background-position: center;
 background-size: cover;
 display: grid;
 grid-template-columns: 1fr;
 font-family: 'IBM Plex Mono', sans-serif;
 color: var(--color-text);
}

.decorated-zone {
  height: 100vh;
  min-height: 668px;
  padding: 0 10px 0 10px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  position: relative;
}

.decorated-zone::before {
  content: ' ';
  position: absolute;
  bottom: 20px;
  left: 20px;
  width: 24px;
  height: 24px;
  border-inline-start: 1px solid var(--nav-color);
  border-inline-end: 0;
  border-block-start: 0;
  border-block-end: 1px solid var(--nav-color);
}

.decorated-zone::after {
  content: ' ';
  position: absolute;
  top: 20px;
  right: 20px;
  width: 24px;
  height: 24px;
  border-inline-start: 0;
  border-inline-end: 1px solid var(--nav-color);
  border-block-start: 1px solid var(--nav-color);
  border-block-end: 0;
}

.rec {
  display: var(--decoration);
  position: absolute;
  top: 23px;
  right: 48px;
  font-weight: 400;
  color: var(--accent-color);
}
.rec::after{
  content: '';
  position: absolute;
  top: 7px;
  left: 42px;
  width: 6px;
  height: 6px;
  border-radius: 50%;
  box-shadow: 0 0 4px 4px var(--accent-color);
  background-color: var(--accent-color);
}

.header__theme-menu {
  display: grid;
  align-self: center;
  justify-self: end;
}

.header__theme-menu-button {
  border: none;
  padding: 3px 12px;
  color: var(--title-color);
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 1.125rem;
  letter-spacing: 0;
  text-align: center;
  text-transform: lowercase;
  background: transparent;
}


.header__theme-menu-button:focus-visible {
  border-block-end: 1px solid rgb(var(--nav-color-focus));
  outline: none;
}

.header__theme-menu-button:hover {
  outline: 1px solid rgba(var(--nav-color-focus), 0.4);
}

.header__theme-menu-button_active {
  outline: 1px solid rgb(var(--nav-color-focus));
}

.header__theme-menu-button_active:hover {
  outline: 1px solid rgb(var(--nav-color-focus));
}

.heading  {
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  font-weight: 700;
  color: var(--secondary-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.cover__description-text {
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  line-height: 23.4px;
  font-weight: 700;
  color: var(--title-header-color);
  height: max-content;
}

.card-section  {
  display: grid;
  grid-template-columns: 1fr;
  max-height: 100%;
  min-height: 668px;
  padding: 0 10px 0 10px;
}

.card-section_container {
  display: grid;
  grid-template-columns: 1fr;
  max-height: 100%;
  min-height: 668px;
  padding: 0 10px 0 10px;
}

.card-section_list {
  display: grid;
  grid-template-columns: 1fr;
  max-height: 100%;
  min-height: 668px;
  padding: 0 10px 0 10px;
}

a {
  text-decoration: none;
  text-shadow: 2px 2px 0 var(--accent-color);
}

a:hover {
  border: 1px solid var(--nav-color);
}

a:focus {
  border-bottom: 1px solid var(--focus);
  outline: none;
}

.section-title {
  font-weight: 700;
  font-size: 1.125rem;
  line-height: 23.4px;
  color: var(--title-color);
  margin-top: 20px;
  margin-bottom: 20px;
}

.title__decor {
  background-color: var(--accent-color);
}

.cards-list__subtitle {
  font-weight: 700;
  font-size: 1.125rem;
  color: var(--subtitle-color);
  margin-top: 20px;
  margin-bottom: 20px;

}

.cards-list__tagline {
  font-weight: 400;
  font-size: 1.125rem;
  line-height: 23.4px;
  margin-top: 20px;
  margin-bottom: 10px;
  color: var(--subtitle-color);
}

.cards-list__description {
  font-weight: 400;
  line-height: 23.4px;
  margin-bottom: 20px;
}

.gallery {
  max-height: 100%;
  min-height: 668px;
  padding: 0 10px 0 10px;
}

.footer_heading {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: clamp(7.25rem, 7.0115rem + 1.0178vw, 7.5rem);
  line-height: 83%;
  font-weight: 700;
  color: var(--secondary-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

@media (width >= 768px) {

.heading  {
  position: relative;
  left: -20px ;
  font-size: clamp(7.5rem, 0.5625rem + 14.4531vw, 9.8125rem) ;
  line-height: 83%;
  font-weight: 700;
  color: var(--secondary-color);
  text-shadow: 4px 4px 0 var(--accent-color);
}

.decorated-zone {
  height: 100vh;
  min-height: 1024px;
  padding: 0 20px 0 20px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  position: relative;
}

.cover__description-text {
  display: flex;
  justify-self: end;
  max-width: 364px;
  margin-top: 162px;
  margin-bottom: 183px;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: column;
  margin-top: 146px;
  gap: 20px;
}

.card-section {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.section-title {
  max-width: 236px;
  height: 100%;
}

.cards-list__item:nth-child {
  display: grid;
  grid-template-columns: max-content 1fr;
  column-gap: 20px;
}

.card-section_container {
  display: grid;
  grid-template-columns: 1fr;
}

.card-section_list {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.gallery__grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 10px;
  grid-auto-flow: dense;
  box-sizing: border-box;
  min-block-size: calc(100vh - 5em);
}

.gallery__image {
  box-sizing: border-box;
  min-block-size: 4.3em;
}

.gallery__image:nth-child(1) {
  grid-column-start: span 2;
}

.gallery__image:nth-child(2) {
  grid-row-start: span 2;
}

.gallery__image:nth-child(3) {
  grid-row-start: span 2;
}

.gallery__image:nth-child(4) {
  grid-row-start: span 1;
}

.gallery__image:nth-child(5) {
  grid-column-start: span 2;
}
}

@media (width >= 1024px) {
.decorated-zone {
  height: 100vh;
  min-height: 768px;
  padding: 0 20px 0 20px;
  display: grid;
  grid-template-columns: 1fr;
  justify-content: space-between;
  position: relative;
}

.header__theme-menu {
  align-items: start;
  justify-self: center;
}

.header__theme-menu-list {
  display: flex;
  flex-direction: row;
  gap: 20px;
  margin-top: 20px;
}

.heading {
  margin-top: 273px;
}

.section-title {
  max-width: 314px;
  height: 100%;
}

.cover__description-text {
 max-width: 491px;
 justify-self: end;
}


.card-section:has(.cards__list){
  margin-top: 60px;
  display: grid;
  grid-template-columns: 317px 1fr;
  gap: 20px;
  align-self: end;
}

.cards__list:has(.cards-list__item){
  grid-template-columns: 1fr;
}

.card-section_list {
  display: grid;
  grid-template-columns: 317px 1fr;
}

.card-section_container {
  margin-top: 80px;
}

.cards__list-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
}

.gallery {
  margin-top: 80px;
  margin-bottom: 80px;
}

.gallery__grid {
  gap: 20px;
}


}
