/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
  --bg-image: url(../images/cover-image-dark.png);
  --bg-color: #000028;
  --nav-color-focus: 255,0,112;
  --third-color: #000028;
  --accent-color: #FF0070;
  --title-color: #FF0070;
  --secondary-color: #DB00FF;
  --color-text: #F1B2CE;
  --subtitle-color: #353430;
  --title-header-color: #000028;
}
